<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>Health Care - Register</title>
    <script src="static/js/jquery-3.2.1.js"></script>
    <script>
        function validateForm() {
          let email = document.forms["myForm"]["email"].value;
          let password = document.forms["myForm"]["password"].value;
          if (email === "") {
            alert("Email must be filled out");
            return false;
          }
          if (password === "") {
            alert("Password must be filled out");
            return false;
          }
        }

        function reset() {
            console.log('reset');
            return false;
        }

        function onrolechange(selectedRole) {
            console.log('onrolechange');
            console.log(selectedRole.value);
            if (selectedRole.value === 'Doctor') {
                $('#divPatient').hide();
                $('#divDoctor').show();
            } else {
                $('#divDoctor').hide();
                $('#divPatient').show();
            }
        }
    </script>
</head>
<body>

<div class="jumbotron">
    <h1>Health Care - Register New User</h1>
</div>

<form name="myForm" action="register" method="post" style="padding: 20px"
      onsubmit="return validateForm()">

    <div class="container-fluid">

        <div class="form-group">
            <select class="form-control" id="role" name="role" onchange="onrolechange(this)">
                <option selected value="Patient">Patient</option>
                <option value="Doctor">Doctor</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" name="email"/>
        </div>

        <div class="form-group">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password"/>
        </div>

        <div class="form-group">
            <label class="form-label">First Name</label>
            <input class="form-control" type="text" name="fname"/>
        </div>

        <div class="form-group">
            <label class="form-label">Middle Name</label>
            <input class="form-control" type="text" name="mname"/>
        </div>

        <div class="form-group">
            <label class="form-label">Last Name</label>
            <input class="form-control" type="text" name="lname"/>
        </div>

        <div class="form-group">
            <label class="form-label">CNIC</label>
            <input class="form-control" type="text" name="cnic"/>
        </div>

        <div class="form-group">
            <label class="form-label">Postal Code</label>
            <input class="form-control" type="number" name="postal_code"/>
        </div>

        <div class="form-group">
            <label class="form-label">Father Name</label>
            <input class="form-control" type="text" name="father_name"/>
        </div>

        <div class="form-group">
            <label class="form-label">Gender</label>
            <select class="form-control" name="gender">
                <option value="Male">Male</option>
                <option selected value="Female">Female</option>
            </select>
        </div>

        <div id="divPatient">
            <div class="form-group">
                <label class="form-label">Blood Group</label>
                <select class="form-control" name="blood_group">
                    <option selected value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label">Emergency Mobile</label>
                <input class="form-control" type="text" name="emergency_mobile"/>
            </div>

            <div class="form-group">
                <label class="form-label">Payment Mode</label>
                <select class="form-control" name="payment_mode">
                    <option selected value="Credit Card">Credit Card</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <h4>Symptoms & Tests</h4>
            <div class="form-group">
                <label class="form-label">Hemoglobin (HB)</label>
                <input class="form-control" type="text" name="hb"/>
            </div>
            <div class="form-group">
                <label class="form-label">Body to Mass Index (BMI)</label>
                <input class="form-control" type="text" name="bmi"/>
            </div>
            <div class="form-group">
                <label class="form-label">Platelets</label>
                <input class="form-control" type="text" name="platelets"/>
            </div>
            <div class="form-group">
                <label class="form-label">Blood Sugar (BS)</label>
                <input class="form-control" type="text" name="bs"/>
            </div>
            <div class="form-group">
                <label class="form-label">Blood Pressure (BP) (120/80 mm Hg)</label>
                <input class="form-control" type="text" name="bp"/>
            </div>
        </div>

        <div id="divDoctor" style="display: none">
            <div class="form-group">
                <label class="form-label">Qualification</label>
                <input class="form-control" type="text" name="qualification"/>
            </div>

            <div class="form-group">
                <label class="form-label">Area of Expertise</label>
                <select class="form-control" id="expertise" name="expertise">
                    <option selected value="MedicalSpecialist">Medical Specialist</option>
                    <option value="Cardiologists">Cardiologists</option>
                    <option value="Dermatologists">Dermatologists</option>
                    <option value="ENT">ENT</option>
                    <option value="Gastroenterologists">Gastroenterologists</option>
                    <option value="Gynecologists">Gynecologists</option>
                    <option value="Pediatricians">Pediatricians</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" name="Submit" value="Submit"/>
        </div>
    </div>
</form>

<button class="btn btn-secondary" onclick="reset()">Reset</button>

</body>
</html>